<% @links.each do |link| %>
<article>
  <header>
    <h1><a href="<%= link.uri %>"><%= link.title %></a></h1>
  </header>
  <p><%= link.description %></p>
  <footer>
    <% link.tags.each do |tag| %>
      <p>
        <a href="/tags/<%= tag.text %>"><%= tag.text %></a>
      </p>
    <% end %>
  </footer>
</article>
<% end %>